body {
  font-family: 'Oswald', sans-serif;
}

#siteTitle {
  font-family: 'Josefin Slab', serif;}


#resultList {
  background: 
    linear-gradient(
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0.75)
  ),
    url(/matt-briney-0tfz7ZoXaWc-unsplash.jpg);
  background-size: cover; 
  height: 100vh;
}

.cardHeader {
  font-family: 'Noto Sans JP', sans-serif;
}

.ingredientHeader {
  background-color: #c7a589;
}

.effectHeader {
background-color: #a8bbaf;
}
